*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 35%;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 30%;
  }
}

body {
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.container {
  width: 147rem;
  max-width: 147rem;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .container {
    width: inherit;
    max-width: inherit;
    margin: 0;
  }
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 0.5px solid #6d6d6d;
  border-radius: 1px;
  background-color: white;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #2979ff;
  border-width: 0 0.5px 0.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

input[type="radio"] {
  position: relative;
  cursor: pointer;
}
input[type="radio"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  border: 2px solid #6d6d6d;
  border-radius: 2px;
  background-color: #f7f7fa;
}
input[type="radio"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 12px;
  border: solid #2979ff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 7px;
}
