<div class="product-list-list-wrapper">
  <a class="product-list-list-wrapper-card">
    <img
      src="{{ product.imageUrl }}"
      alt="product picture"
      class="product-list-list-wrapper-card-image"
    />
    <p
      (click)="navigateToDetailHandler()"
      class="product-list-list-wrapper-card-title"
    >
      {{ product.title }}
    </p>
    <p class="product-list-list-wrapper-card-price">
      ₺{{ product.price | number : "1.2-2" : "tr" }}
    </p>
    <p class="product-list-list-wrapper-card-overview">
      {{ product.overview }}
    </p>
    <div class="product-list-list-wrapper-card-rate">
      <div class="product-list-list-wrapper-card-rate-cont">
        <app-rate [rate]="product.rating"></app-rate>
        <p class="product-list-list-wrapper-card-rate-cont-rate">
          {{ product.rating }}
        </p>
      </div>
      <button
        (click)="toggleFavorite()"
        class="product-list-list-wrapper-card-rate-favorite"
      >
        <i
          [ngClass]="{
            'fa-heart-o': !isFavorite,
            'fa-heart': isFavorite
          }"
          class="fa fa-heart product-list-list-wrapper-card-rate-favorite-icon"
          aria-hidden="true"
        ></i>
        Watch
      </button>
    </div>
  </a>
</div>
