<div class="product-list-list-wrapper">
  <div
    class="product-list-list-wrapper-card"
    routerLink="detail/{{ product._id }}"
  >
    <img
      src="{{ product.imageUrl }}"
      alt="product picture"
      class="product-list-list-wrapper-card-image"
    />
    <p class="product-list-list-wrapper-card-title">
      {{ product.title }}
    </p>
    <p class="product-list-list-wrapper-card-price">${{ product.price }}</p>
    <p class="product-list-list-wrapper-card-overview">
      {{ product.overview }}
    </p>
    <div class="product-list-list-wrapper-card-rate">
      <div class="product-list-list-wrapper-card-rate-cont">
        <app-rate [rate]="product.rating"></app-rate>
        <p class="product-list-list-wrapper-card-rate-cont-rate">
          {{ product.rating }}
        </p>
      </div>
      <button class="product-list-list-wrapper-card-rate-favorite">
        <span
          class="material-symbols-outlined product-list-list-wrapper-card-rate-favorite-icon"
        >
          favorite </span
        >Watch
      </button>
    </div>
  </div>
</div>
