@media screen and (max-width: 1500px) {
  .product-list-list-wrapper-card-title {
    height: 14%;
  }
}

@media screen and (max-width: 700px) {
  .product-list-list-wrapper-card {
    height: 20%;
    padding: 0;

    &-title {
      height: 14%;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
    }

    &-overview {
      display: none;
      opacity: 0;
    }

    &-rate-favorite {
      display: none;
    }

    &-rate-favorite-mobile {
      cursor: pointer;
      border: 1px solid #b4b4bb;
      color: #5a5b6a;
      background-color: transparent;
      border-radius: 0.4rem;
      padding: 1rem 1rem;

      font-size: 1.4rem;

      display: flex;

      &-icon {
        font-size: 1.4rem;
        margin-right: 0;
        color: #5a5b6a;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .product-list-list-wrapper {
    &-card {
      height: 20%;
    }
  }
}

@media screen and (max-width: 415px) {
  .product-list-list-wrapper {
    &-card {
      height: 30%;
    }
  }
}
