<app-header></app-header>
<div class="container">
  <app-top-category-bar></app-top-category-bar>
</div>

<div class="budget-container">
  <div class="budget">
    <div class="budget-left">
      <h1 class="budget-left-title">Sepetim ( {{ cartList.length }} Ürün )</h1>
      <div class="budget-left-list">
        <ng-container *ngFor="let cartProduct of cartList">
          <div class="budget-left-list-card">
            <div class="budget-left-list-card-top">
              <input
                checked
                type="checkbox"
                class="budget-left-list-card-top-box"
              />
              <div class="budget-left-list-card-top-box-saller">
                <span class="budget-left-list-card-top-box-saller-head"
                  >Satıcı:
                </span>
                <span class="budget-left-list-card-top-box-saller-name"
                  >Hepsişurada</span
                >
                <span class="budget-left-list-card-top-box-saller-rate"
                  >9.1</span
                >
              </div>
            </div>

            <div class="budget-left-list-card-bottom">
              <input
                checked
                type="checkbox"
                class="budget-left-list-card-bottom-box"
              />
              <img
                src="{{ cartProduct.product.imageUrl }}"
                alt="product image"
                class="budget-left-list-card-bottom-img"
              />

              <div class="budget-left-list-card-bottom-labels">
                <div class="budget-left-list-card-bottom-labels-infos">
                  <span class="budget-left-list-card-bottom-labels-infos-saller"
                    >Hepsişurada</span
                  >
                  <span
                    (click)="navigateHandler(cartProduct.product._id)"
                    class="budget-left-list-card-bottom-labels-infos-name"
                  >
                    {{ cartProduct.product.title }}
                  </span>
                </div>
                <div class="budget-left-list-card-bottom-labels-rating">
                  <app-rate [rate]="cartProduct.product.rating"></app-rate>
                </div>
              </div>

              <div class="budget-left-list-card-bottom-btns">
                <div class="budget-left-list-card-bottom-btns-decrement">
                  <button
                    (click)="quantityChangeHandler(cartProduct.product._id, '')"
                    class="budget-left-list-card-bottom-btns-decrement-btn"
                  >
                    -
                  </button>
                </div>
                <div class="budget-left-list-card-bottom-btns-quantity">
                  <span>{{ cartProduct.quantity }}</span>
                </div>
                <div class="budget-left-list-card-bottom-btns-increment">
                  <button
                    (click)="
                      quantityChangeHandler(cartProduct.product._id, 'i')
                    "
                    class="budget-left-list-card-bottom-btns-increment-btn"
                  >
                    +
                  </button>
                </div>
              </div>

              <div class="budget-left-list-card-bottom-price">
                <span class="budget-left-list-card-bottom-price-label"
                  >{{
                    cartProduct.product.price | number : "1.2-2" : "tr"
                  }}
                  TL</span
                >
              </div>

              <div
                (click)="deleteFromCartHandler(cartProduct.product._id)"
                class="budget-left-list-card-bottom-icon"
              >
                <i
                  class="fa fa-trash budget-left-list-card-bottom-icon-icon"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="budget-left-recommended">
        <h2 class="budget-left-recommended-title">Önerilen Ürünler</h2>

        <div class="budget-left-recommended-divider"></div>

        <div class="budget-left-recommended-list">
          <app-mobilecard></app-mobilecard>
          <app-mobilecard></app-mobilecard>
          <app-mobilecard></app-mobilecard>
          <app-mobilecard></app-mobilecard>
          <app-mobilecard></app-mobilecard>
          <app-mobilecard></app-mobilecard>
        </div>
      </div>
    </div>
    <div class="budget-right">
      <div class="budget-right-card">
        <h2 class="budget-right-card-title">Sipariş Özeti</h2>

        <div class="budget-right-card-summary">
          <div class="budget-right-card-summary-cont">
            <span class="budget-right-card-summary-cont-label"
              >Ürünün Toplamı</span
            >
            <span class="budget-right-card-summary-cont-price"
              >{{ totalProductPrice | number : "1.2-2" : "tr" }} TL</span
            >
          </div>
          <div class="budget-right-card-summary-cont">
            <span class="budget-right-card-summary-cont-label"
              >Kargo Toplamı</span
            >
            <span class="budget-right-card-summary-cont-price"
              >{{ transportCost | number : "1.2-2" : "tr" }} TL</span
            >
          </div>
        </div>

        <div class="budget-right-card-summary-divider"></div>

        <div class="budget-right-card-summary-total">
          <span class="budget-right-card-summary-total-amount"
            >{{ totalAmount | number : "1.2-2" : "tr" }} TL</span
          >
        </div>
      </div>

      <div class="budget-right-btns">
        <button class="budget-right-btns-btn">Sepeti Onayla</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
