<div id="rating">
  <div class="star1" *ngIf="rating === 1">
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
  </div>

  <div class="star1" *ngIf="rating === 1.5">
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star-half-o rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
  </div>

  <div class="star2" *ngIf="rating === 2">
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
  </div>

  <div class="star2" *ngIf="rating === 2.5">
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star-half-o rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
  </div>

  <div class="star3" *ngIf="rating === 3">
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
  </div>

  <div class="star3" *ngIf="rating === 3.5">
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star-half-o rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
  </div>

  <div class="star4" *ngIf="rating === 4">
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star-o rating-rate checked"></div>
  </div>

  <div class="star4" *ngIf="rating === 4.5">
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star-half-o rating-rate checked"></div>
  </div>

  <div class="star5" *ngIf="rating === 5">
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
    <div class="fa fa-star rating-rate checked"></div>
  </div>
</div>
