<div class="budget-left-recommended-list-card">
  <img
    src="https://s3-alpha-sig.figma.com/img/6eed/38f3/6c4e62d636b7857cd3f736a982695a5c?Expires=1672617600&Signature=dcSbMbHwQOftltmFwuIy7WVTVHqde2E3Tevb43DFlm3s4N6x~IGnFKN770KTilQkyxbPMquH-Uk0fwDy8fkCxLJAACRG2OIt20r7vi3efZaxMX9tjVWqAs9shpgEGaepVbIiqPoDNcVWD2PqWU21TRsLkV8hAFLol7Il9pd40v-R9Ja62N3s1vMuvA2K395NfxafRQ17Z6Y5b29Sbh2K~btOqSV-ZTjnVZdM13jepmDD3MGhD69Nov~YsOq2XD07f2ChMuooexADU4RkPSZDLW9sPUb2WPCpT4VmQ-KQHICeSWWb6lLKPRuhpw~U3Qvppb01f3DOR2crbgOhm5j-RA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
    alt="product image"
    class="budget-left-recommended-list-card-img"
  />
  <h3 class="budget-left-recommended-list-card-title">
    Lee Pucker design. Leather botinki for handsome designers. Free shipping.
  </h3>
  <p class="budget-left-recommended-list-card-price">$13.95</p>
  <div class="budget-left-recommended-list-card-rating">
    <div class="budget-left-recommended-list-card-rating-cont">
      <app-rate [rate]="4.5"></app-rate>
      <p class="budget-left-recommended-list-card-rating-cont-rate">4.7</p>
    </div>
    <div class="budget-left-recommended-list-card-rating-favorite">
      <i
        class="fa fa-heart-o budget-left-recommended-list-card-rating-favorite-icon"
        aria-hidden="true"
      ></i>
    </div>
  </div>
</div>
