<div class="side-category-bar">
  <div class="side-category-bar-title">
    <span class="material-symbols-outlined side-category-bar-title-icon">
      filter_list
    </span>
    <h2 class="side-category-bar-title-title">Departments</h2>
  </div>

  <div class="side-category-bar-categories">
    <div class="side-category-bar-categories-card">
      <div class="side-category-bar-categories-card-wrapper">
        <span
          (click)="reFetchAllProducts()"
          class="material-symbols-outlined side-category-bar-categories-card-wrapper-icon"
        >
          chevron_right
        </span>
        <p
          [ngClass]="{
            'side-category-bar-categories-card-wrapper-label-selected':
              oldIndex === -1,
            '': oldIndex !== -1
          }"
          class="side-category-bar-categories-card-wrapper-label"
          (click)="reFetchAllProducts()"
        >
          All Products
        </p>
      </div>
    </div>
    <ng-container *ngFor="let category of categories">
      <div class="side-category-bar-categories-card">
        <div class="side-category-bar-categories-card-wrapper">
          <span
            class="material-symbols-outlined side-category-bar-categories-card-wrapper-icon"
            (click)="toggleCategory(category.id)"
          >
            chevron_right
          </span>
          <p
            [ngClass]="{
              'side-category-bar-categories-card-wrapper-label-selected':
                category.isShow === true
            }"
            class="side-category-bar-categories-card-wrapper-label"
            (click)="toggleCategory(category.id)"
          >
            {{ category.name }}
          </p>
        </div>
        <div *ngIf="category.isShow">
          <app-category [category]="category.category"></app-category>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="side-category-bar-filter">
    <div
      class="side-category-bar-filter-hide"
      *ngIf="!isFilterShow"
      (click)="toggleFilter()"
    >
      <span class="side-category-bar-filter-hide-label">Collapsed filters</span>
      <span
        class="material-symbols-outlined side-category-bar-filter-hide-icon"
      >
        expand_more
      </span>
    </div>

    <div class="side-category-bar-filter-show" *ngIf="isFilterShow">
      <div (click)="toggleFilter()" class="side-category-bar-filter-show-title">
        <p class="side-category-bar-filter-show-title-label">
          Expanded filters
        </p>
        <span
          class="material-symbols-outlined side-category-bar-filter-show-title-icon"
        >
          expand_less
        </span>
      </div>
      <ng-container *ngFor="let filter of sideFilters; let i = index">
        <div class="side-category-bar-filter-show-filters">
          <input
            type="radio"
            class="side-category-bar-filter-show-filters-checkbar"
            id="{{ i }}"
            name="group1[]"
            (click)="filterProducts(filter.id)"
          />
          <label
            for="{{ i }}"
            class="side-category-bar-filter-show-filters-label"
            >{{ filter.label }}</label
          >
        </div>
      </ng-container>
    </div>
  </div>
</div>
