.side-category-bar {
  &-title {
    display: flex;
    align-items: center;
    color: #2264d1;
    border: 1px solid #9dc2ff;
    border-radius: 0.4rem;

    padding: 0.8rem 2rem;

    &-icon {
      font-size: 1.8rem;
    }

    &-title {
      font-size: 2.4rem;
      font-family: "Quicksand";
      margin: 0 auto;
    }
  }

  &-categories {
    margin: 4.6rem 0;
    font-size: 1.6rem;
    font-family: "Inter";

    &-card {
      display: flex;
      align-items: center;
      gap: 1.4rem;
      margin-bottom: 1.6rem;
      cursor: pointer;

      &-icon {
        color: #2264d1;
      }

      &-label {
        color: #19191d;
      }
    }
  }

  &-filter {
    &-hide {
      margin-top: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.6rem;
      color: #19191d;
      font-family: "Roboto";

      box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24),
        0px 2px 4px rgba(90, 91, 106, 0.24);
      border-radius: 0.4rem;

      padding: 0.5rem 0.8rem;

      cursor: pointer;

      // &-label {
      // }

      &-icon {
        color: #2264d1;
      }
    }

    &-show {
      margin-top: 1.6rem;
      background-color: #f7f7fa;
      display: flex;
      flex-direction: column;
      font-size: 1.6rem;
      color: #19191d;
      font-family: "Roboto";
      padding: 0.5rem 0.8rem;
      border-radius: 0.4rem;

      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &-label {
          font-weight: 500;
        }
      }

      &-filters {
        margin: 1.8rem 0;
        &-checkbar {
          margin-left: 0.8rem;
        }

        &-label {
          padding-left: 1.8rem;
          font-family: "Inter";
        }
      }
    }
  }
}
