.side-category-bar {
  &-title {
    display: flex;
    align-items: center;
    color: #2264d1;
    border: 1px solid #9dc2ff;
    border-radius: 0.4rem;

    padding: 0.8rem 2rem;

    &-icon {
      font-size: 1.8rem;
    }

    &-title {
      font-size: 2.4rem;
      font-family: "Quicksand";
      margin: 0 auto;
    }
  }
}
