@media screen and (max-width: 1050px) {
  .side-category-bar {
    &-filter {
      &-show {
        &-filters {
          &-label {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .side-category-bar {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    &-title {
      display: none;
    }

    &-categories {
      display: flex;
      justify-content: space-around;
      // flex-direction: column;

      &-card {
        &-wrapper {
          &-icon {
            display: none;
          }
        }
      }
    }

    &-filter {
      margin-bottom: 3.3rem;
      width: 80%;
      align-self: center;

      &-show {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 3rem;

        &-filters {
          &-checkbar {
            display: none;
          }
        }

        &-title {
          &-icon {
            display: none;
          }
        }
      }

      &-hide {
        padding: 1rem 1.2rem;

        box-shadow: none;

        &-label {
          text-align: center;
          width: 100%;
        }

        &-icon {
          display: none;
        }
      }
    }
  }
}
