.product-list {
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24),
    0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 0.8rem;
  padding: 3.2rem;

  &-topmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-dropdown {
      display: flex;
      gap: 1.6rem;
      margin-bottom: 4.6rem;

      &-sort {
        position: relative;
        border: 1px solid #5a5b6a;
        border-radius: 0.4rem;
        padding: 0.64rem 1.2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
          cursor: pointer;
        }

        &-title {
          position: absolute;
          top: -20%;
          background-color: white;
          font-size: 1rem;
          color: #787885;
          font-family: "Roboto";
          font-weight: 500;
          padding: 0 0.2rem;
        }

        &-passive {
          color: #787885;
          font-size: 1.4rem;
          font-family: "Inter";
        }

        &-selected {
          font-size: 1.4rem;
          font-family: "Inter";
        }

        &-icon {
          color: #787885;
        }
      }
    }

    &-tabbar {
      display: flex;
      align-items: center;

      font-size: 1.4rem;
      font-family: "Inter";
      color: #5a5b6a;
      background-color: #ebf2ff;
      margin-bottom: 4.6rem;
      border-radius: 0.4rem;

      &-margin {
        display: flex;
        align-items: center;

        gap: 2.4rem;
      }

      &-passive {
        padding: 1rem 2rem;

        &:hover {
          cursor: pointer;
        }
      }

      &-active {
        padding: 1rem 2rem;
        background-color: white;
        font-weight: 500;
        color: #2264d1;

        box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24),
          0px 2px 4px rgba(41, 121, 255, 0.24);
        border-radius: 4px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-mid {
    display: flex;
    align-items: center;

    font-family: "Inter";
    margin-bottom: 1.6rem;
    font-size: 1.4rem;

    &-title {
      font-weight: 500;
    }

    &-label {
      padding: 0.6rem 1.2rem;
      margin-left: 0.8rem;

      border-radius: 9.9rem;
      background-color: #ededf0;
    }
  }

  &-list {
    display: flex;
    // justify-content: space-between;

    flex-wrap: wrap;

    gap: 1.6rem;

    &-wrapper {
      flex: 0 0 23.5%;
      display: flex;
    }
  }
}
