@media screen and (max-width: 650px) {
  .profile {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .profile {
    width: 95%;
  }
}
