<ng-container *ngFor="let c of category">
  <div class="category-bar-categories-card">
    <div class="category-bar-categories-card-wrapper">
      <span
        class="material-symbols-outlined category-bar-categories-card-wrapper-icon"
        (click)="getProductByCategory(c.id)"
      >
        chevron_right
      </span>
      <p
        [ngClass]="{
          'category-bar-categories-card-wrapper-label-selected':
            c.id === selectedCategory
        }"
        (click)="getProductByCategory(c.id)"
        class="category-bar-categories-card-wrapper-label"
      >
        {{ c.name }}
      </p>
    </div>
  </div>
</ng-container>
