@media screen and (max-width: 500px) {
  .favorite {
    &-list {
      &-wrapper {
        flex: 0 0 20%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .favorite {
    margin: 0 auto;
    &-list {
      &-wrapper {
        flex: 0 0 30%;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .favorite {
    margin: 0 auto;
    &-list {
      &-wrapper {
        flex: 0 0 45%;
      }
    }
  }
}
